@import "../../app.scss";

.contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    
    @include desktop {
        gap: 20px;
    }
    @include mobile {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    @include SmallMobile {
        gap: 0;
    }


    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include desktop {
            gap: 30px;
        }

        @include mobile {
            gap: 15px;
            text-align: center;
            align-items: center;
            margin-top: 60px;
        }
        h1 {
            font-size: 100px;
            line-height: 70px;

            @include desktop {
                font-size: 70px;
            }
            @include MidTablet {
                font-size: 60px;
            }
            @include SmallTablet {
                font-size: 50px;
            }

            @include mobile {
                font-size: 36px;
            }
            @include SmallMobile {
                font-size: 30px;
            }
        }
        h2 {
            @include SmallMobile {
                font-size: 17px;
            }
        }

        span {
            font-weight: 300;

            @include SmallMobile {
                font-size: 13px;
            }
        }

        button {
            width: 25vh;
            font-size: 3vh;
            padding: 10px;
            border-radius: 7px;
            color: white;
            background: rgb(45, 160, 19);
            font-weight: bolder;
            transition: 0.5s;;

            @include mobile {
                font-size: 2vh;
                width: 20vh;
            }
        }
        button:hover {
            color: rgba(255, 255, 255, 0.319);
            background: rgb(73, 148, 72);
            transform: scale(0.8);
        }
    }
    .formContainer {
        flex: 1;
        position: relative;
        width: 100%;
        overflow-y: auto;


        @include mobile {
            padding: 15px;
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input, textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;

                @include mobile {
                    padding: 7px;

                }
            }

            button {
               padding: 20px;
               border: none;
               background-color: orange;
               cursor: pointer;
               font-weight: 500;

               @include mobile {
                padding: 10px;
               }
            }
        }   
    
    }
}
