@import "../../app.scss";


.hero {
  height: calc(100vh - 100px);
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-evenly; 
  overflow-x: hidden;

  @include desktop {
    justify-content: space-around;
  }
  
  

  .wrapper {
    height: 100%;

    .textContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      .social {
        display: flex;
        gap: 18px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 10px;
          transition: 0.3s;
        }
        img:hover {
          transform: scale(0.9);
        }
      }

      h2 {
        font-size: 18px;
        color: #1a1a81;
        letter-spacing: 10px;
        font-weight: bolder;

        @include tablet {
          font-size: 14px;
        }
        @include MidTablet {
          font-size: 12px;
        }
        @include mobile {
          letter-spacing: 7px;
          box-sizing: border-box;
        }
      }

      h1 {
        font-size: 60px;
        color: #11112e;

        @include desktop {
          font-size: 50px;
        }
        @include tablet {
          font-size: 40px;
        }
        @include MidTablet {
          font-size: 30px;
        }
        
        
      }
      
    }
  }

  .imageContainer {
    display: flex; 
    align-items: center; 

    img {
      border-radius: 50%;
      height: 40vh;
      width: 40vh;
      border: 2px solid rgb(15, 12, 60);
      box-shadow: 2px 2px 2px rgb(44, 35, 102);
      margin-bottom: 100px;
      transition: 1s;

      @include tablet {
        height: 35vh;
        width: 35vh;
      }
      @include mobile {
        height: 30vh;
        width: 30svh;
      }
    }
    img:hover {
      transform: scale(1.05);
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 15vh;
    bottom: 0px;
    white-space: nowrap;
    color: #08081433;
    word-spacing: 300px;
    width: 50%;
    font-weight: bold;

    @include tablet {
      font-size: 10vh;
    }
    @include MidTablet {
      font-size: 7vh;
    }

      span {
        word-spacing: normal;
      }
  }

  svg {
    height: 35px; // Set desired height
    width: 35px; // Set desired width
    color: #080814;
  }
}


