.navbar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span {
            font-weight: bold;
        }

        .Logo {
            display: flex;
            gap: 20px;
            padding: 5px;
            border-radius: 10px;
            img {
                width: 100px;
                height: 100px;
                transition: 0.3s ease;
            }
            img:hover {
                transform: scale(1.3);
            }
        }
    }
}

