@import "../../app.scss";

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    position: relative;
    
    .bg  {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        max-height: 100vh;
        overflow-y: auto;
        background: white;

        @include desktop {
          width: 350px;
        }
        @include tablet {
          width: 300px;
        }
        @include SmallTablet {
          width: 250px;
        }
        @include MidMobile {
          width: 200px;
        }
        @include SmallMobile {
          width: 150px;
        }

        

        img {
          height: 50px;
          width: 50px;
          margin-left: 25px;
          margin-top: 25px;
        }

    }

}   