@import "../../app.scss";

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    .bg  {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        background: white;

        @include desktop {
          width: 350px;
        }
        @include tablet {
          width: 300px;
        }
        @include SmallTablet {
          width: 250px;
        }
        @include MidMobile {
          width: 200px;
        }
        @include SmallMobile {
          width: 150px;
        }

      .links {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a {
            font-size: 40px;

            @include desktop {
              font-size: 30px;
            }
            @include MidTablet {
              font-size: 25px;
            }
            @include mobile {
              font-size: 20px;
            }
            @include MidMobile {
              font-size: 15px;
            }
        }
      }
    }

    button {

        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        left: 25px;
        top: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

}   