.course {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 200px;
        height: 200px;
        background-color: white;
        
    }    
}

